@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/** Custom Properties **/
:root {
	/* Fonts */
	--FontPrimary: "Open Sans", Arial, Helvetica, sans-serif;
	--FontSecondary: "Poppins", Arial, Helvetica, sans-serif;

	/* Colors */
	--clr-accent: hsl(322, 100%, 66%);
	--clr-neutral-100: hsl(193, 100%, 96%);
	--clr-neutral-200: hsl(208, 11%, 55%);
	--clr-neutral-300: hsl(192, 100%, 9%);
}

/** Reset **/
* {
	box-sizing: inherit;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

ul[class] {
	padding: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

/** Utilities **/
.container {
	max-width: 120em;
	width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	--gap: 2em;
	gap: var(--gap, 10em);
}

/** Base Styles **/
body {
	font-family: var(--FontPrimary);
	font-size: 1.125rem;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
a,
button {
	font-family: var(--FontSecondary);
	font-weight: 600;
	line-height: 1.1;
	text-transform: capitalize;
}

.btn {
	color: var(--fg, var(--clr-neutral-300));
	background: var(--bg, var(--clr-neutral-100));
	font-size: clamp(0.85rem, 5.5vw, 1.125rem);
	text-transform: capitalize;
	padding: 0.75em 1.5em;
	border-radius: 150vw;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/** General Styling **/
.heading-primary {
	font-size: clamp(1.15rem, 8vw, 3rem);
	/* font-size: 1.15rem; */
	/* font-size: 8vw; */
	/* font-size: 3rem; */
}

.paragraph {
	font-size: clamp(0.85rem, 5.5vw, 1.125rem);
	/* font-size: 0.85rem; */
	/* font-size: 5.5vw; */
	/* font-size: 1.125rem; */
}

.btn-primary {
	--bg: var(--clr-neutral-100);
}

.btn-accent {
	--bg: var(--clr-accent);
	--fg: var(--clr-neutral-100);
}

/** General Layout **/
.hero {
	background-color: var(--clr-neutral-100);
	background-image: url(./images/bg-hero-mobile.svg);
	background-size: cover;
	background-position: center;
}

nav {
	padding: 1.5em 0;
}

header {
	padding: clamp(2.5em, 12vw, 6em) 0;
}

.header-textbox {
	text-align: center;
}

.header-textbox > * + * {
	margin-top: 1em;
}

.logo {
	width: 45%;
	max-width: 10em;
}

main {
	color: var(--clr-neutral-300);
	background: var(--clr-neutral-100);
}

footer {
	background: var(--clr-neutral-300);
	color: var(--clr-neutral-100);
}
