@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/** Custom Properties **/
:root {
	/* Fonts */
	--FontPrimary: "Open Sans", Arial, Helvetica, sans-serif;
	--FontSecondary: "Poppins", Arial, Helvetica, sans-serif;

	/* Colors */
	--clr-accent: hsl(322, 100%, 66%);
	--clr-neutral-100: hsl(193, 100%, 96%);
	--clr-neutral-200: hsl(208, 11%, 55%);
	--clr-neutral-300: hsl(192, 100%, 9%);
}

/** Reset **/
* {
	box-sizing: inherit;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

ul[class] {
	padding: 0;
	list-style: none;
}

a {
	font-family: var(--FontPrimary);
	display: inline-block;
	text-decoration: none;
}

/** Utilities **/
.container {
	max-width: 120em;
	width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	--gap: 2em;
	gap: var(--gap, 2em);
}

/** Base Styles **/
body {
	font-family: var(--FontPrimary);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
button {
	font-family: var(--FontSecondary);
	font-weight: 600;
	line-height: 1.1;
	text-transform: capitalize;
}

.btn {
	color: var(--fg, var(--clr-neutral-300));
	background: var(--bg, var(--clr-neutral-100));
	font-size: clamp(0.85rem, 8vw, 1.25rem);
	font-weight: 700;
	text-transform: capitalize;
	padding: 0.75em 1.25em;
	border-radius: 150vw;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/** General Styling **/
.heading-primary {
	font-size: clamp(1.15rem, 8vw, 3rem);
}

.heading-secondary {
	font-size: clamp(1rem, 6.5vw, 2rem);
}

.paragraph {
	font-size: clamp(0.85rem, 5vw, 1.125rem);
}

.btn-primary {
	--bg: var(--clr-neutral-100);
	font-size: clamp(0.85rem, 5vw, 1.05rem);
}

.btn-accent {
	--bg: var(--clr-accent);
	--fg: var(--clr-neutral-100);
}

/** General Layout **/
.hero {
	background-color: var(--clr-neutral-100);
	background-image: url(./images/bg-hero-mobile.svg);
	background-size: cover;
	background-position: center;
}

nav {
	padding: 1.5em 0;
}

header {
	padding: clamp(2.5em, 12vw, 6em) 0;
}

.header-textbox {
	text-align: center;
}

.header-textbox > * + * {
	margin-top: 1.25em;
}

.logo {
	width: 45%;
	max-width: 10em;
}

main {
	color: var(--clr-neutral-300);
	background: var(--clr-neutral-100);
	padding: 3em 0 5em;
}

main .container:first-child {
	margin-bottom: 4em;
}

main .container:last-child {
	position: relative;
	background: red;
}

.features {
	text-align: center;
}

.feature {
	padding: 3em 1em;
	background: var(--clr-neutral-100);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
}

.feature .paragraph {
	font-size: 1rem;
	color: var(--clr-neutral-200);
}

.section-textbox > * + * {
	margin-top: 0.8em;
}

.card {
	text-align: center;
	padding: 2em;
	background: var(--clr-neutral-100);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
	position: absolute;
	width: 100%;
	max-width: 600px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.card .heading-tertiary {
	margin-bottom: 1em;
}

footer {
	background: var(--clr-neutral-300);
	color: var(--clr-neutral-100);
	min-height: 200px;
	padding: 10em 0 2em;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
}

.footer-logo svg path {
	fill: var(--clr-neutral-100);
}

.footer-navigations {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
}

.foot-list li {
	margin: 1em 0;
}

.footer-navigations a {
	color: var(--clr-neutral-200);
	text-transform: capitalize;
}

.social {
	display: flex;
	justify-content: center;
	gap: 2em;
}
